<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix - Watch TV Shows Online, Watch Movies Online</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  style
    include ../static/style.css
  <script src="/javascripts/app.js"></script>
</head>

<section class="sec-1">

  <header class="head">
    <div id="logo">
      <img src="../static/logoN.png" alt="Netflix" id="l-img">
    </div>
    <div id="div-left">
      <select name="lang" id="selector-lang">
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
      </select>
      <button class="btn" id="head-btn">Sign in</button>
    </div>
  </header>

  <section class="sec-in-1">
    <div id="div-head">
      <h1>Unlimited movies ,TV shows and more</h1>
    </div> 
    <div id="div-p1">
      <p>Watch anywhere.Cancel anytime.</p>
    </div>
    <div id="div-p2">
      <p>Ready to Watch? Enter your email to create or restart your membership </p>
    </div>
    <div id="div-p3">
      <input type="email" placeholder="Email address" id="l-email">
      <button class="btn" id="sec-btn">Get Started ></button>
    </div>
  </section> 

  <section class="sec-2">

    <section id="sec2-in-1">

      <div id="s1">
        <img src="../static/sample1.png" alt="haha" id="s1-img">
        <div id="s1-p1">
          <p>Enjoy on your TV</p>
        </div>
        <div id="s1-p2">
          <p>Watch on smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
        </div>
      </div>  

      <div id="s2">
        <img src="../static/sample2.png" alt="haha" id="s2-img">
        <div id="s2-p1">
          <p>Watch everywhere</p>
        </div>
        <div id="s2-p2">
          <p>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV. </p>
        </div>
      </div> 

    </section>

    <section id="sec2-in-2">

      <div id="x1"> 
        <img src="../static/sample3.png" alt="haha" id="x1-img">
        <div id="x1-p1">
          <p>Create profiles for kids</p>
        </div>
        <div id="x1-p2">
          <p>Send childrens on adventures with their favourite characters in a space made just for them-free with your membership.</p>
        </div>
      </div>  

      <div id="x2">
        <img src="../static/sample4.png" alt="haha" id="x2-img">
        <div id="x2-p1">
          <p>Download your shows to watch ofline</p>
        </div>
        <div id="x2-p2">
          <p>Save your favourite easily and always have something to watch.</p>
        </div>
      </div>  

    </section>

  </section>

  <section id="sec3">
    <div id="box1">
      <p id="b1-p1">What is Netflix?</p>
      <p onclick="copyText1()" id="b1-p2">+</p>
    </div>
  </section>


</section>

</html>