<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Netflix - Watch TV Shows Online, Watch Movies Online</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  style
    include ../static/style.css
  <script src="javascript/../static/index.js"></script>
</head>

<section class="sec-1">

  <header class="head">
    <div id="logo">
      <img src="../static/logoN.png" alt="Netflix" id="l-img">
    </div>
    <div id="div-left">
      <select name="lang" id="selector-lang">
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
      </select>
      <button class="btn" id="head-btn">Sign in</button>
    </div>
  </header>

  <section class="sec-in-1">
    <div id="div-head">
      <h1>Unlimited movies ,TV shows and more</h1>
    </div> 
    <div id="div-p1">
      <p>Watch anywhere.Cancel anytime.</p>
    </div>
    <div id="div-p2">
      <p>Ready to Watch? Enter your email to create or restart your membership </p>
    </div>
    <div id="div-p3">
      <input type="email" placeholder="Email address" id="l-email">
      <button class="btn" id="sec-btn">Get Started ></button>
    </div>
  </section> 

  <section class="sec-2">

    <section id="sec2-in-1">

      <div id="s1">
        <img src="../static/sample1.png" alt="haha" id="s1-img">
        <div id="s1-p1">
          <p>Enjoy on your TV</p>
        </div>
        <div id="s1-p2">
          <p>Watch on smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
        </div>
      </div>  

      <div id="s2">
        <img src="../static/sample2.png" alt="haha" id="s2-img">
        <div id="s2-p1">
          <p>Watch everywhere</p>
        </div>
        <div id="s2-p2">
          <p>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV. </p>
        </div>
      </div> 

    </section>

    <section id="sec2-in-2">

      <div id="x1"> 
        <img src="../static/sample3.png" alt="haha" id="x1-img">
        <div id="x1-p1">
          <p>Create profiles for kids</p>
        </div>
        <div id="x1-p2">
          <p>Send childrens on adventures with their favourite characters in a space made just for them-free with your membership.</p>
        </div>
      </div>  

      <div id="x2">
        <img src="../static/sample4.png" alt="haha" id="x2-img">
        <div id="x2-p1">
          <p>Download your shows to watch ofline</p>
        </div>
        <div id="x2-p2">
          <p>Save your favourite easily and always have something to watch.</p>
        </div>
      </div>  

    </section>

  </section>

  <section id="sec-3">
    <div class="faq">
      <h2>Frequently Asked Questions</h2>
      <ul class="accordion">
        <li>
          <input type="radio" name="accordion" id="first">
          <label for="first">What is Netflix?</label>
          <div class="content">
            <p>Netflix is a streaming service that offers a wide variety of award-winning TV shows,movie,anime,documentaries and more-on thousands of internet-connected devices.</p>
            <p>You can watch as much as you wat, whenever you want, without a single ad- all for one low monthly price. There's always something new to discover, and new TV shows and movies are added every week!</p>
          </div>
        </li>
        <li>
          <input type="radio" name="accordion" id="second">
          <label for="second">How much does Netflix cost?</label>
          <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur libero error odit voluptate hic ab unde vel accusantium at.</p>
          </div>
        </li>
        <li>
          <input type="radio" name="accordion" id="third">
          <label for="third">Where can i watch?</label>
          <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur libero error odit voluptate hic ab unde vel accusantium at.</p>
          </div>
        </li>
        <li>
          <input type="radio" name="accordion" id="fourth">
          <label for="fourth">How do i cancel?</label>
          <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur libero error odit voluptate hic ab unde vel accusantium at.</p>
          </div>
        </li>
        <li>
          <input type="radio" name="accordion" id="fifth">
          <label for="fifth">What can i watch on Netflix?</label>
          <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur libero error odit voluptate hic ab unde vel accusantium at.</p>
          </div>
        </li>
        <li>
          <input type="radio" name="accordion" id="sixth">
          <label for="sixth">Is Netflix good for kids?</label>
          <div class="content">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit pariatur libero error odit voluptate hic ab unde vel accusantium at.</p>
          </div>
        </li>
      </ul>
      <small>Ready to watch? Enter your email to create or restart your membership.</small>
      <form class="email-signup">
        <input type="email" placeholder="Email address" id="l-email" required>
        <button type="submit" class="btn" id="sec-btn">Get Started</button>
      </form>
    </div>

  </section>

  <div class="footer">
    <h2>Questons? call 000-000-000-000</h2>

    <div class="row">

      <div class="col">
        <a href="#">FAQ</a>
        <a href="#">Investor Relations</a>
        <a href="#">Privacy</a>
        <a href="#">Speed Test</a>
      </div>

      <div class="col">
        <a href="#">Help Center</a>
        <a href="#">jobs</a>
        <a href="#">Cookies Preferences</a>
        <a href="#">Legal Notices</a>
      </div>
      
      <div class="col">
        <a href="#">Account</a>
        <a href="#">Ways to watch</a>
        <a href="#">Corporate Information</a>
        <a href="#">Only on Netflix</a>
      </div>
      
      <div class="col">
        <a href="#">Media Center</a>
        <a href="#">Terms of Use</a>
        <a href="#">Contact Us</a>
      </div>
      
    </div>
    <select name="lang" id="selector-lang2">
      <option value="English">English</option>
      <option value="Hindi">Hindi</option>
    </select>

  </div>


</section>

</html>